node_modules/
bundle.js
bundle.js.map
dist/bundle.js
app-bundle.js
app-bundle.js.map
dist/app-bundle.js
background-bundle.js
background-bundle.js.map
dist/background-bundle.js
.DS_Store

*.blg
*.log
*.aux
*.fdb_latexmk
*.bbl
*.fls
*.out
*.synctex.gz
.DS_Store
*.synctex.gz(busy)
*.lbl
*.brf
