html,
body {
  font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
  margin: 0;
  padding: 0;
}

a,
a:visited {
  color: #6c8aa4;
  text-decoration: none;
}

.app {
  display: flex;
  flex-direction: column;
  padding: 10% 20%;
}

.gallery {
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  width: 900px;
}

.title {
  display: flex;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
}

.main-content {
  display: flex;
  flex-direction: column;
}

.picture-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* width: 100%; */
}

.picture-wrapper img {
  max-height: 300px;
}

.picture-wrapper a {
  display: flex;
  height: 100%;
}

/* mobile adjustments */
@media screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
  }

  .app {
    padding: 10% 10%;
  }

  .title {
    font-size: 32px;
  }

  .gallery {
    align-self: auto;
    max-width: 100%;
    width: 500px;
  }

  .picture-wrapper img {
    height: 100%;
    width: 100%;
  }
}
