a {
  cursor: pointer;
}

html,
body,
#extension-container {
  font-family: Verdana, Geneva, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

#extension-container {
  padding: 10px 90px;
  height: calc(100% - 20px);
  width: calc(100% - 180px);
}

.full-size {
  height: 100%;
  width: 100%;
}

.margin-left {
  margin-left: 5px;
}

.margin-bottom {
  margin-bottom: 5px;
}

.centering {
  align-items: center;
  justify-content: center;
}

.relative {
  position: relative;
}

.flex {
  display: flex;
}

.flex-down {
  display: flex;
  flex-direction: column;
}

.background-gray {
  background: #f6f6f0;
}

.panel {
  height: 100%;
  width: 50%;
}


.panel:first-of-type {
  border-right: thin solid #828282;
}

.header {
  height: 50px;
  width: 100%;
}

.secondary-header .comment-block {
  width: calc(50% - 40px);
}

.secondary-header-data-container {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
  width: 50%;
}

.rv-xy-plot__axis__tick__text {
  font-size: 8px;
  transform: translate(0, 3px);
}

.rv-xy-plot__series rect {
  stroke: none !important;
  fill: rgb(215, 205, 190);
}

.main-container {
  padding: 10px 0;
}


/* // GRAPH STYLING */

.node {
  cursor: pointer;
}

.node {
  fill: #999;
  stroke: #555;
}

.node-selected {
  stroke: #ff6600;
}


.node-searched {
  fill: #ff6600;
}

.node.node-selected {
  stroke: black;
  stroke-width: 2px;
  transition: fill 0.2s;
}

.node.node-hovered {
  stroke-width: 4px;
  transition: stroke-width 0.2s;
}

.link {
  fill: none;
  stroke: #555;
  stroke-opacity: 0.4;
  stroke-width: 1.5px;
  transition: stroke-opacity 0.2s, stroke 0.2s;
}

.link-selected {
  stroke: #333;
  stroke-opacity: 1;
}

.locked .link-selected {
  stroke: #111;
  stroke-opacity: 1;
  stroke-width: 3px;
}

.click-away-block {
  cursor: pointer;
}

.fade-block {
  pointer-events: none;
}

.legend {
  fill: #828282;
  font-size: 10px;
  pointer-events: none;
}

/* /// header styling */

.header {
  align-items: center;
  background: #ff6600;
  color: #828282;
  display: flex;
  font-family: Verdana, Geneva, sans-serif;
  height: 24px;
  padding: 1px 2px;
}

.site-title {
  color: #000000;
  font-weight: bold;
  padding: 5px;
}

.site-title:visited {
  color: #000000;
}

a.site-title::after {
  content: "";
}

.logo {
  border: 1px white solid;
  height: 18px;
  width: 18px;
}

a {
  color: #000000;
  text-decoration: none;
}

a:visited {
  color: #828282;
}

a.header-link:visited {
  color: #000000;
}

.header-link::after {
  content: '|';
  padding: 5px;
}

.header .header-link:last-of-type::after {
  content: ' ';
}

.right-links-container {
  margin-left: auto;
}

/* // comment styles */

.overflow-y {
  overflow-y: scroll;
}

.comment-title {
  text-decoration: none;
}

.comment-block {
  padding: 10px 20px;
}

.comment-head,
.comment-head a {
  color: #828282;
  font-size: 8pt;
}

.comment {
  border-left: 3px solid rgba(0, 0, 0, 0);
  cursor: pointer;
  color: black;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 9pt;
  padding-left: 2px;
}

.comment-no-expand {
  cursor: auto;
}

.comment-keyword {
  cursor: pointer;
  font-weight: bold;
}

.comment-keyword::after {
  content: '◆';
  text-decoration: none;
  margin: 0 3px;
}
.comment-keyword:last-of-type::after {
  content: ' ';
}

.comment-block:hover .comment {
  border-left: 3px solid #ff6600;
}

.comment-head .up-arrow {
  cursor: pointer;
  font-size: 9px;
}

.comment-footer {
  margin-left: 3px;
}

.search-user {
  cursor: pointer;
  fill: #828282;
  position: absolute;
}

.expand-comment {
  color: #828282;
  cursor: pointer;
  font-size: 8pt;
  padding-right: 10px;
  text-decoration: underline;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/* Tool tip stuff */
.tooltip-background {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}

.tooltip-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.tooltip {
  background: #f6f6f0;
  box-shadow: 0 0 8px 3px rgba(0,0,0,0.50);
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 10px;
  position: absolute;
  width: 150px;
  z-index: 100;
}

.tooltip-header {
  display: flex;
  flex-direction: row-reverse;
  font-size: 8pt;
}

.tooltip-close {
  cursor: pointer;
}

.tooltip-row {
  padding: 5px 0;
}

.tooltip-row-options-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.tooltip-row-name {
  font-size: 8pt;
}

.tooltip-row-option {
  cursor: pointer;
  padding: 0 3px;
}

.tooltip-row-option-selected {
  color: black;
}

.search-bar {
  background: none;
  border: none;
  border-bottom: thin solid #828282;
}

.search-clear {
  cursor: pointer;
}

.tile-top-users {
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
}


.top-poster {
  display: flex;
  flex-wrap: nowrap;
  font-size: 8px;
  padding: 0 5px;
}

.top-poster-card {
  border-radius: 2px;
  color: white;
  margin-right: 2px;
  padding: 0 3px;
}

.top-user-coloring .node.node-highlighted-top-1,
.top-poster-1 {
  background: #a6cee3;
  fill: #a6cee3;
}
.top-user-coloring .node.node-highlighted-top-2,
.top-poster-2 {
  background: #1f78b4;
  fill: #1f78b4;
}
.top-user-coloring .node.node-highlighted-top-3,
.top-poster-3 {
  background: #b2df8a;
  fill: #b2df8a;
}
.top-user-coloring .node.node-highlighted-top-4,
.top-poster-4 {
  background: #33a02c;
  fill: #33a02c;
}
.top-user-coloring .node.node-highlighted-top-5,
.top-poster-5 {
  background: #fb9a99;
  fill: #fb9a99;
}
.top-user-coloring .node.node-highlighted-top-6,
.top-poster-6 {
  background: #e31a1c;
  fill: #e31a1c;
}
.top-user-coloring .node.node-highlighted-top-7,
.top-poster-7 {
  background: #fdbf6f;
  fill: #fdbf6f;
}
.top-user-coloring .node.node-highlighted-top-8,
.top-poster-8 {
  background: #ff7f00;
  fill: #ff7f00;
}
.top-user-coloring .node.node-highlighted-top-9,
.top-poster-9 {
  background: #cab2d6;
  fill: #cab2d6;
}
.top-user-coloring .node.node-highlighted-top-10,
.top-poster-10 {
  background: #6a3d9a;
  fill: #6a3d9a;
}
.top-user-coloring .node.node-highlighted-top-11,
.top-poster-11 {
  background: #ffff99;
  color: black;
  fill: #ffff99;
}
.top-user-coloring .node.node-highlighted-top-12,
.top-poster-12 {
  background: #b15928;
  fill: #b15928;
}




.top-posters {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 8px;
  min-width: 160px;
  padding: 0 5px;
}

.label {
  color: #828282;
  font-size: 6pt;
  text-anchor: middle;
}
