html,
body,
#extension-container {
  font-family: Verdana, Geneva, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

#extension-container {
  padding: 10px 90px;
  height: calc(100% - 20px);
  width: calc(100% - 180px);
}

.full-size {
  height: 100%;
  width: 100%;
}

.centering {
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
}

.flex-down {
  display: flex;
  flex-direction: column;
}

.background-gray {
  background: #f6f6f0;
}

.panel {
  height: 100%;
  width: 50%;
}

.panel:first-of-type {
  border-right: thin solid #828282;
}

.header {
  height: 50px;
  width: 100%;
}

.main-container {
  padding: 10px 0;
}


/* // GRAPH STYLING */

.node {
  cursor: pointer;
  fill: #999;
}

.node-internal {
  fill: #555;
}

.node-selected {
  fill: #ff6600;
  transition: fill 0.2s;
}

.node-hovered {
  border: steelblue;
  border-width: 10px;
  fill: steelblue;
  transition: fill 0.2s;
}

.link {
  fill: none;
  stroke: #555;
  stroke-opacity: 0.4;
  stroke-width: 1.5px;
  transition: stroke-opacity 0.2s, stroke 0.2s;
}

.link-selected {
  stroke: #333;
  stroke-opacity: 1;
}

.locked .link-selected {
  stroke: #111;
  stroke-opacity: 1;
  stroke-width: 3px;
}

.click-away-block {
  cursor: pointer;
}

.legend {
  fill: #828282;
  font-size: 10px;
  pointer-events: none;
}

/* /// header styling */

.header {
  align-items: center;
  background: #ff6600;
  color: #828282;
  display: flex;
  font-family: Verdana, Geneva, sans-serif;
  height: 24px;
  padding: 1px 2px;
}

.site-title {
  color: #000000;
  font-weight: bold;
  padding: 5px;
}

.site-title:visited {
  color: #000000;
}

a.site-title::after {
  content: "";
}

.logo {
  border: 1px white solid;
  height: 18px;
  width: 18px;
}

a {
  color: #000000;
  text-decoration: none;
}

a:visited {
  color: #828282;
}

.header-link::after {
  content: '|';
  padding: 5px;
}


/* // comment styles */

.overflow-y {
  overflow-y: scroll;
}

.comment-title {
  text-decoration: none;
}

.comment-block {
  padding: 10px 20px;
}

.comment-head,
.comment-head a {
  color: #828282;
  font-size: 8pt;
}

.comment {
  border-left: 1px solid rgba(0, 0, 0, 0);
  color: black;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 9pt;
  padding-left: 2px;
}

.comment-block:hover .comment {
  border-left: 1px solid #ff6600;
}

.comment-head .up-arrow {
  cursor: pointer;
  font-size: 9px;
}

.expand-comment {
  color: #828282;
  cursor: pointer;
  font-size: 8pt;
  padding-right: 10px;
  text-decoration: underline;
}
