a {
  cursor: pointer;
}

html,
body,
#extension-container {
  font-family: Verdana, Geneva, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

#extension-container {
  padding: 10px 40px;
  height: calc(100% - 20px);
  width: calc(100% - 80px);
}

.full-size {
  height: 100%;
  width: 100%;
}

.margin-left {
  margin-left: 5px;
}

.margin-right {
  margin-right: 5px;
}

.margin-bottom {
  margin-bottom: 5px;
}

.margin-top-huge {
  margin-top: 100px;
}

.centering {
  align-items: center;
  justify-content: center;
}

.relative {
  position: relative;
}

.flex {
  display: flex;
}

.flex-down {
  display: flex;
  flex-direction: column;
}

.background-gray {
  background: #f6f6f0;
}

.panel {
  height: 100%;
  width: 50%;
}


.panel:first-of-type {
  border-right: thin solid #828282;
}


.secondary-header  {
  min-height: fit-content;
}

.secondary-header .comment-block {
  width: calc(50% - 40px);
}

.secondary-header-data-container {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
  width: 50%;
}

.story-head-content-container {
  width: 50%;
}

.about-button {
  cursor: pointer;
  font-size: 12px;
  margin-right: 15px;
  text-decoration: underline;
}

.rv-xy-plot__axis__tick__text {
  font-size: 8px;
  transform: translate(0, 3px);
}

.rv-xy-plot__series rect {
  stroke: none !important;
  fill: rgb(215, 205, 190);
}

.main-container {
  padding: 10px 0;
}

.picker-container {
  height: 100%;
  padding: 0 20px;
}

.picker-container p {
  color: black;
  font-size: 11px;
}


/* // GRAPH STYLING */

.node.node-selected {
  stroke-width: 2px;
  transition: fill 0.2s;
}

.node.node-hovered {
  stroke-width: 4px;
  transition: stroke-width 0.2s;
}

.link {
  fill: none;
  stroke: #555;
  stroke-opacity: 0.4;
  stroke-width: 1.5px;
  transition: stroke-opacity 0.2s, stroke 0.2s;
}

.link-selected {
  stroke: #333;
  stroke-opacity: 1;
}

.locked .link-selected {
  stroke: #111;
  stroke-opacity: 1;
  stroke-width: 3px;
}

.polygon-container {
  cursor: pointer;
}

.click-away-block {
  cursor: pointer;
}

.fade-block {
  pointer-events: none;
}

.legend {
  fill: #828282;
  font-size: 10px;
  pointer-events: none;
}

/* /// header styling */

.header {
  align-items: center;
  background: #ff6600;
  color: #828282;
  display: flex;
  font-family: Verdana, Geneva, sans-serif;
  height: 24px;
  padding: 1px 2px;
  width: calc(100% - 4px);
}

.site-title {
  color: #000000;
  font-weight: bold;
  padding: 5px;
}

.site-title:visited {
  color: #000000;
}

a.site-title::after {
  content: "";
}

.logo {
  border: 1px white solid;
  height: 18px;
  position: relative;
  top: 1px;
  width: 18px;
}

a {
  color: #000000;
  text-decoration: none;
}

a:visited {
  color: #828282;
}

a.header-link:visited {
  color: #000000;
}

.header-link::after {
  content: '|';
  padding: 5px;
}

.header .header-link:last-of-type::after {
  content: ' ';
}

.right-links-container {
  margin-left: auto;
}

/* // comment styles */

.overflow-y {
  overflow-y: scroll;
}

.comment-title {
  text-decoration: none;
}

.comment-block {
  padding: 10px 20px;
}

.comment-head,
.comment-head a {
  color: #828282;
  font-size: 8pt;
}

.comment {
  border-left: 3px solid rgba(0, 0, 0, 0);
  cursor: pointer;
  color: black;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 9pt;
  padding-left: 2px;
}

.comment-no-expand {
  cursor: auto;
}

.comment-keyword {
  cursor: pointer;
  font-weight: bold;
}

.comment-keyword::after {
  content: '◆';
  text-decoration: none;
  margin: 0 3px;
}
.comment-keyword:last-of-type::after {
  content: ' ';
}

.comment-block:hover .comment {
  border-left: 3px solid #ff6600;
}

.comment-head .up-arrow {
  cursor: pointer;
  font-size: 9px;
}

.comment-footer {
  margin-left: 3px;
}

.search-user {
  cursor: pointer;
  fill: #828282;
  position: absolute;
}

.expand-comment {
  color: #828282;
  cursor: pointer;
  font-size: 8pt;
  padding-right: 10px;
  text-decoration: underline;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/* Tool tip stuff */
.tooltip-background {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}

.tooltip-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.tooltip {
  background: #f6f6f0;
  box-shadow: 0 0 8px 3px rgba(0,0,0,0.50);
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 10px;
  position: absolute;
  width: 150px;
  z-index: 100;
}

.tooltip-header {
  display: flex;
  flex-direction: row-reverse;
  font-size: 8pt;
}

.tooltip-close {
  cursor: pointer;
}

.tooltip-row {
  padding: 5px 0;
}

.tooltip-row-options-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.tooltip-row-name {
  font-size: 8pt;
}

.tooltip-row-option {
  cursor: pointer;
  padding: 0 3px;
}

.tooltip-row-option-selected {
  color: black;
}

.search-bar {
  background: none;
  border: none;
  border-bottom: thin solid #828282;
}

.search-clear {
  cursor: pointer;
}

.tile-top-users {
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
}


.top-poster {
  display: flex;
  flex-wrap: nowrap;
  font-size: 8px;
  padding: 0 5px;
}

.top-poster-card {
  border-radius: 2px;
  color: white;
  margin-right: 2px;
  padding: 0 3px;
}

.top-poster-id {
  border-radius: 100%;
  color: white;
  height: 10px;
  margin: 2px;
  width: 10px;
}

.everyone-poster-card {
  background: #999;
  border-radius: 2px;
  color: white;
  cursor: default;
  margin-right: 2px;
  max-width: 57px;
  padding: 0 3px;
}

.top-posters {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 8px;
  min-width: 160px;
  padding: 0 5px;
}

.label {
  color: #828282;
  font-size: 6pt;
  text-anchor: middle;
}

/* Tooltip container */
.hover-tooltip {
  position: relative;
  display: flex;
}

.hover-rel-container {
  position: relative;
  width: 15px;
}

/* Tooltip text */
.hover-tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  font-size: 10px;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  left: 90px;
  top: -10px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.hover-tooltip:hover .tooltiptext {
  visibility: visible;
}

.search-user .material-icons {
  font-size: 15px;
}

.comments-help {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 0 20px;
  text-align: center;
  width: calc(100% - 40px);
}

.comment-root-prune-explanation {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}
.comment-root-prune-explanation h3,
.comment-root-prune-explanation h5 {
  font-weight: 200;
  padding: 0;
  margin: 0;
}

.single-comments-division ~ .comment-block {
  /* color from https://news.ycombinator.com/topcolors */
  border-right: 2px solid #60bbed;
}

@media only screen and (max-width : 820px){
  #extension-container {
    height: 100%;
    padding: 0;
    width: 100%;
  }
}
